<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href={{url_for('static', filename= 'loading_styles.css')}} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="loading-diagonise-page">
      <div class="skygovernance">SkyGovernance</div>
      <div class="running-diagnose">Running Diagnose</div>
      <div class="div">
        <div class="child"></div>
        <div class="completed">99% completed</div>
      </div>
      <img class="notodetective-icon" alt="" src="{{url_for('static', filename='nance.png')}}" />

      <div class="button">
        <a href = "{{url_for('chat')}}"><div class="cancel">Cancel</div></a>
      </div>
      <img class="c1-icon" alt="" src="{{url_for('static', filename='c1-icon1.png')}}" />

      <img class="c1-icon1" alt="" src="{{url_for('static', filename='c1-icon1.png')}}" />

      <img class="c1-icon2" alt="" src="{{url_for('static', filename='c1-icon1.png')}}" />
    </div>
  </body>
</html>
